body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: lightcyan;
  }
  
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: red;
    position:fixed;
    width: 100%;
  }
  header h1{
  
  }
  header img{
    border-radius: 50%;
    transition:0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  header img:hover{
    transform: scale(1.25);
  }
  
  header img{
    width: 90px;
    height: 45px;
    padding-left: 5px;
  }
  header h1 {
    margin: 0;
  }
  section h2{
    color: green;
  }
  #about,#projects,#contact{
    padding: 90px 0 528px 0;
  }
  #about{
    background-color: aqua;
  }
  #projects{
    background-color: lightsalmon;
  }
  #contact{
    background: lightgreen;
    left: 0;
    right: 0;
  }
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav a {
    color:#fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    
  }
  header nav a:hover{
    color: red;
  }
  
  main {
    padding: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  form label,
  form input,
  form textarea {
    display: block;
    margin-bottom: 10px;
    width: 50%;
  }
  
  form input,#message{
    background-color: lightblue;
  }
form button{
    background: blue;
    color: aliceblue;
}
form button:hover{
    background-color: chartreuse;
    color: #000;;
}